.table-list {
  text-align: left;
  border-collapse: collapse;
  border: 3px solid #ED7014;
  padding: 10px;
  margin-top: 0;
  margin-left: 2em;
  width: 90%;
}

.table-header {
  color: #ED7014;
  padding-left: 10px;
}

.table-list th {
  vertical-align: middle;
  padding: 6px 1.5em 6px;
  border: none;
}

.table-list td {
  vertical-align: middle;
  padding: 6px 1.5em 6px;
  border: none;
}

.table-short {
  table-layout: fixed;
  text-align: left;
  padding: 5px;
  margin-top: 0;
  margin-left: 2em;
  width: 90%;
}

.indent {
  margin-left: 1em;
}

.tab {
  margin-left: 3em;
}

.text-orange {
  color: #ED7014;
  font-weight: 600;
}

@media (max-width: 768px) {
  .table-list {
    margin-left: 0;
  }
  .table-list th {
    padding: 5px 1em 5px;
  }

  .table-list td {
    padding: 5px 1em 5px;
  }

  .tab {
    margin-left: 2em;
  }
}