.table-list {
  text-align: left;
  border-collapse: collapse;
  border: 3px solid #ED7014;
  padding: 10px;
  margin-top: 0;
  margin-left: 2em;
  width: 90%;
}

.table-header {
  color: #ED7014;
  padding-left: 10px;
}

.table-subheader {
  padding-left: 10px;
}

.table-list th {
  vertical-align: middle;
  padding: 6px 1.5em 6px;
  border: none;
}

.table-list td {
  vertical-align: middle;
  padding: 6px 1.5em 6px;
  border: none;
}

.table-expand {
  table-layout: auto;
  text-align: left;
  border-collapse: collapse;
  border: 3px solid #ED7014;
  margin: 8px 12px;
  width: 90%;
}

.table-short {
  table-layout: auto;
  text-align: center;
  padding: 5px;
  margin-top: 0;
  margin-left: 2em;
  width: 90%;
}

.table-mini {
  width: 60%;
}

.indent {
  margin-left: 1em;
}

.tab {
  margin-left: 3em;
}

.text-orange {
  color: #ED7014;
  font-weight: 600;
}

.horizontal-line-wrapper {
  padding: 0 1em;
}

.horizontal-line-orange {
  height: 1px;
  width: 100%;
  background-color: #ED7014;
}

.underline-orange {
  position: relative;
  display: inline;
}

.underline-orange::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 2px;
  background-color: #ED7014;
}

.bullet {
  list-style-type: circle;
}

@media (max-width: 768px) {
  .table-list {
    margin-left: 0;
  }
  .table-list th {
    padding: 5px 1em 5px;
  }

  .table-list td {
    padding: 5px 1em 5px;
  }

  .table-mini {
    width: 90%;
  }

  .tab {
    margin-left: 2em;
  }
}