.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

.header-title h1 {
  margin: 0;
}

.searchbar {
  position: relative;
  flex: 1;
  margin-left: 20px;
  margin-right: 5rem;
}

.searchbar input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

.searchbar ul {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  z-index: 1;
}

.searchbar li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.searchbar li:hover {
  background-color: #f1f1f1;
}

.search-item {
  display: block;
  padding: 0px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-item:hover {
  background-color: #f0f0f0;
  color: #007bff;
  cursor: pointer;
}

.header-info {
  font-size: 1.5rem;
  cursor: pointer;
}

.icon {
  margin: 0.5rem;
  cursor: pointer;
}

.icon-info {
  width: 37px;
  height: 37px;
}

.icon-github {
  width: 40px;
  height: 40px;
}
