/* General Sidebar Styles */
.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  min-height: calc(100vh - 100px);
  background-color: #f8f9fa;
  transition: left 0.3s ease;
}

.sidebar.visible {
  left: 0;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
  padding: 1rem;
}

/* Table of Contents Styles */
.toc {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toc button {
  background: none;
  border: none;
  font-size: 1.1rem;
  text-align: left;
  width: 100%;
  padding: 10px 1em 10px 1em;
  cursor: pointer;
  color: #007bff;
}

.toc button:hover {
  background-color: #f0f0f0;
}

body.dark-mode .toc button:hover {
  background-color: #3a3d42;
}

/* Nested List Styles */
.nested {
  list-style-type: none;
  padding-left: 20px;
}

.nested li {
  margin: 5px 0;
  padding-right: 10px;
}

.nested li a {
  color: #333;
  text-decoration: none;
  padding: 8px;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nested li a:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}

.nested li a:active {
  background-color: #d0d0d0;
  transform: scale(0.98);
}

body.dark-mode .nested li a:hover {
  background-color: #3a3d42;
}

body.dark-mode .nested li a:active {
  background-color: #3a3d42d7;
}

/* Sidebar Toggle Button */
.sidebar-toggle {
  display: none;
}

.sidebar-toggle:hover {
  opacity: 1;
}

/* Mobile-Specific Styles */
@media (max-width: 1000px) {
  .app-container {
    margin-left: -20px;
  }

  .content {
    margin: 0 auto;
    padding-left: 50px;
    max-width: 100%;
    overflow-wrap: break-word;
  }

  /* Sidebar Behavior */
  .sidebar {
    top: 0;
    width: 80%;
    height: 100vh;
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    left: -100%;
    z-index: 100;
    overflow-y: auto;
    transition: left 0.3s ease;
  }

  .sidebar.visible {
    top: 0;
    left: 0;
  }

  .sidebar h2 {
    padding-left: 2.5rem;
  }

  .toc button {
    padding-left: 3rem;
  }

  .toc ul {
    padding-left: 2rem;
  }

  /* Toggle Button */
  .sidebar-toggle {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20px;
    background-color: #808080;
    cursor: pointer;
    border: none;
    opacity: 0.6;
    z-index: 101
  }

  .sidebar-toggle:hover {
    opacity: 1;
  }
}
