html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  background-color: #f8f9fa;
  display: flex;
}

ul {
  list-style-type: none;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

section {
  width: 0 auto;
  max-width: 1000px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

body.dark-mode section {
  box-shadow: 1px 1px 10px rgba(77, 77, 77, 0.464);
  background-color: #353535;
}

h3 {
  margin: 0;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

h1:active {
  outline: none;
}

@media (max-width: 1000px) {
  .app-container {
    flex-direction: column;
  }

  .content {
    margin-left: 0px;
    width: 100%;
    box-sizing: border-box;
  }
}