/* Basic Modal Styling */
.settings-modal {
  position: fixed;
  top: 15em;
  right: -140px;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.settings-modal h2 {
  margin-top: 0;
}

.setting {
  margin-bottom: 1rem;
}

.setting label {
  display: block;
  margin-bottom: 0.5rem;
}

.settings-modal select,
.settings-modal input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.settings-modal button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.settings-modal button:hover {
  background-color: #0056b3;
}

.settings-modal button:active {
  transform: scale(0.98);
}

/* Slider for Dark Mode */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Font Size Controls */
.font-size-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.font-size-value {
  margin: 0 10px;
  font-weight: bold;
}

/* Font Sizes */
html.font-size--2 {
  font-size: 12px;
}

html.font-size--1 {
  font-size: 14px;
}

html.font-size-0 {
  font-size: 16px; /* Regular */
}

html.font-size-1 {
  font-size: 18px;
}

html.font-size-2 {
  font-size: 20px;
}

/* Font Family */
html.arial {
  font-family: "arial", "arial" !important;
}

html.times {
  font-family: "times", "times" !important;
}

html.courier {
  font-family: "courier", "courier" !important;
}

html.comicsansms {
  font-family: "comic sans ms", "comic sans ms" !important;
}

html.impact {
  font-family: "impact", "impact" !important;
}

/* Dark Mode for Body */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode a {
  color: #e0e0e0;
}

/* Dark Mode for Settings */

body.dark-mode .icon-container {
  background-color: #1b1b1c;
}

body.dark-mode .icon-container.rotated .icon-gear {
  transform: rotate(90deg);
  filter: invert(29%) sepia(99%) saturate(4000%) hue-rotate(190deg)
    brightness(95%) contrast(102%);
}

body.dark-mode .settings-modal {
  background-color: #1b1b1c;
  color: #e0e0e0;
  border: 1px solid #323236;
}

/* Dark Mode for Search Bar */

body.dark-mode .header {
  box-shadow: 1px 1px 10px rgba(77, 77, 77, 0.464);
  background-color: #353535;
}

body.dark-mode .searchbar input {
  background-color: #3a3d42;
  color: #e0e0e0;
}

body.dark-mode .searchbar input::placeholder {
  color: #e0e0e0ae;
}

body.dark-mode .search-item.active,
body.dark-mode .search-item li:hover {
  color: #232020;
  background-color: #b9b9ba;
}

body.dark-mode .results {
  background-color: #3a3d42;
  color: white;
}

/* Dark Mode for Sidebar */

body.dark-mode .sidebar {
  background-color: #111112;
}

body.dark-mode .sidebar h2,
body.dark-mode .sidebar button,
body.dark-mode .sidebar a {
  color: #ffffff;
}

body.dark-mode .toc button:hover {
  background-color: #3a3d42;
}

body.dark-mode .toc li.active {
  background-color: #353535;
}

body.dark-mode .nested li a:hover {
  background-color: #3a3d42;
}

body.dark-mode .nested li a:active {
  background-color: #3a3d42d7;
}

/* Dark Mode for Content */

body.dark-mode .content {
  background-color: #111112;
  color: #e0e0e0;
}

body.dark-mode .background-pink {
  background-color: rgb(133, 78, 86);
}

body.dark-mode .background-mint {
  background-color: #42725d;
}

body.dark-mode .background-white {
  background-color: #2f2b2b;
}

body.dark-mode .background-grey {
  background-color: #3c3b3b;
}

body.dark-mode .marker-black polygon {
  fill: #e0e0e0;
}

body.dark-mode line.diagram-black-line {
  stroke: #e0e0e0;
}

body.dark-mode text.diagram-black-text {
  fill: #e0e0e0;
}

body.dark-mode .text-black {
  color: white;
}

body.dark-mode .underline-black {
  text-decoration-color: white;
}

body.dark-mode .link {
  color: #6fb2fa;
  text-decoration: none;
}

body.dark-mode .link:hover {
  color: #6fb2fa;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Footer */

body.dark-mode .footer {
  background-color: #111112;
}

body.dark-mode .footer-content {
  background-color: #111112;
}

@media (max-width: 1000px) {
  .settings-modal {
    width: 250px;
    top: 18em;
    right: -120px;
  }

  /* Font Sizes */
  html.font-size--2 {
    font-size: 8px;
  }

  html.font-size--1 {
    font-size: 10px;
  }

  html.font-size-0 {
    font-size: 12px; /* Regular */
  }

  html.font-size-1 {
    font-size: 14px;
  }

  html.font-size-2 {
    font-size: 16px;
  }
}
